
#head1{
    background: #E6E9EE;
    padding: 0 2% 18px;
    color: gray;
    font-size: 25px;
    border: none;border-bottom: 2px solid gray;
}

button {
    padding: 8px 20px;
    border-color: grey;
    border-width: 2px;
    background: transparent;
    color: grey;
    float: right;
    font-size: 20px;
    border-radius: 6px;
    margin-right: 4%;
    margin-top: 0.5%;
}
i{
    font-size: 20px;
}
div#pageTitle{
    text-align: center;
    color: grey;
    background: #E6E9EE;
    padding:0.5%;
    font-size: 25px;
}
div#outer{
    position: fixed;
    top: 0px; 
    right: 4px;
    left: 4px;
}