{
    "presets" : [ "@babel/preset-env"],
    "plugins": [
        [
          "@babel/plugin-proposal-class-properties","html-webpack-plugin",
          {
            "loose": true
          }
        ]
      ]
}