<div class="sticky-top">
    <nav  class="navbar "> <div id="pageTitle" class="nav-item mx-auto"> Create News Article</div></nav>
</div>



<div class='container' style="margin-bottom:70px;margin-top:70px;">
   <div class="card mt-2 shadow-sm p-3 mb-5 bg-white rounded">
     <form class="card-body">
       <div class="form-row">
         <div class="form-group col-md-6">
           <label for="title">Heading</label>
           <input type="text" class="form-control" id="title" >
         </div>
         <div class="form-group col-md-6">
           <label for="date">Date</label>
           <input type="date" class="form-control" id="date" >
         </div>
       </div>
       <div class="form-row">
         <div class="form-group col-md-6">
           <label for="ShrtDesc">Short Description</label>
           <input type="text" class="form-control" id="ShrtDesc">
         </div>
         <div class="form-group col-md-6">
           <label for="author">Author</label>
           <input type="text" class="form-control" id="author">
         </div>
       </div>
       <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Desc">Description</label>
              <textarea class="form-control" id="Desc"></textarea> 
            </div>
            <div class="form-group col-md-6">
              <label for="url">Source URL</label>
              <input type="url" class="form-control" id="url">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Desc" >Image Url</label>
                <input type="url" class="form-control" id="url"> 
            </div>
            <div class="form-row form-group col-md-6">
                <div class="mx-auto">
                    <button type="submit" class="btn btn-secondary shadow-sm form-group mr-1">Save</button>
                    <button type="reset" class="btn btn-secondary shadow-sm form-group ml-1">Cancel</button>
                </div>
            </div>
        </div>
       
     </form>


   </div>
       
       
       