<!-- 
<div id="top">
    <div id="left"><select name="select" id="select">
        <option value="A">A</option>
        <option value="A">C</option>
        <option value="A">B</option>
    </select></div>
    <div id="center">
        <input type="text" name="search" id="search"/>&nbsp;
        <Button class="button-search" ><span class="createS"></span></Button>
    </div>
    <div id="right"><Button class="button-add" ><span class="create" >&nbsp;Add Article</span></Button></div>
</div>
 -->

 <nav class=" navbar navbar-light bg-inverse navbar-toggleable-sm  navbar-expand-sm">
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-3" aria-controls="navbarNav" 
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-3">
      
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown pull-left left">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a> 
            </div>
            </li> 
        </ul>
        <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit" id='btn'></button>
                </form>
            </li>
        </ul> 
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </li>
        </ul>
    </div>
  </nav>